.ModalBox {
    width: 400px;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    top: 20%;
    left: calc(50% - 200px);   
    padding: 10px 50px 20px 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}
.ModalBox h1 {
    width: 100%;
    height: 50px;    
    line-height: 50px;
    font-size: 24px;   
    font-weight: 600;
}
.ModalBox input {
    width: 100%;
    height: 30px;  
    margin-bottom: 10px;
}
.ModalBox button {
    width: 40%;
    height: 30px;
    background-color: #bfbfed;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.ModalBox button:hover {
    background-color: #9898c5;
}
.echo {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #8c8c8c;
    opacity: 0.3;
}
.Logout button {
    width: 80%;    
}
